@import '../../styles/typography';
@import '../../styles/colors';

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  height: 35vh;
  width: 100%;
  position: relative;

  img {
    object-fit: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
  }

  &Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      color: $White;
      font-size: 3.2rem;
      font-weight: 500;
    }
  }
}
