@import '../../styles/colors';
@import '../../styles/media-queries';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $White;
  border-radius: 1rem;
  margin-top: 5rem;
  max-width: 100rem;
  min-height: 10rem;
  box-shadow: 0rem 0.9rem 1.2rem -0.5rem $DarkGray;
  z-index: 10;
}

.innerContainer {
  display: flex;
  gap: 2rem;
  padding: 5rem 3rem;
}

.infoContainer {
  display: flex;
  gap: 1rem;
  flex-direction: column;

  h1 {
    color: $DarkGray;
    text-transform: uppercase;
    margin-block: 0;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
  }

  span {
    font-size: 2.5rem;
    font-weight: 500;
  }
}

.divider {
  border-left: 0.1rem solid $DarkGray;
  border-right: 0.1rem solid $DarkGray;
  height: 6rem;
  opacity: 0.3;
}

.skeletonLoader {
  width: 17rem;

  &Main {
    height: 3.5rem;
  }
}

@include small-mobile {
  .innerContainer {
    padding: 2rem !important;
  }
}

@include mobile {
  .container {
    width: 100%;
  }

  .innerContainer {
    flex-direction: column;
    text-align: center;
    padding: 3rem;
  }
  .divider {
    display: none;
  }

  .infoContainer {
    h1 {
      font-size: 1.2rem;
    }
    span {
      font-size: 2rem;
    }
  }

  .skeletonLoaderMain {
    height: 2.35rem;
  }
}

@include tablet {
  .container {
    width: 100%;
  }

  .innerContainer {
    flex-direction: column;
    text-align: center;
    padding: 3rem;
  }
  .divider {
    display: none;
  }

  .infoContainer {
    h1 {
      font-size: 1rem;
    }
    span {
      font-size: 2.2rem;
    }
  }

  .skeletonLoaderMain {
    height: 2.35rem;
  }
}
