@import '../../styles/colors';
@import '../../styles/media-queries';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $White;
  border-radius: 1rem;
  margin-top: 5rem;
  max-width: 100rem;
  min-height: 10rem;
  box-shadow: 0px 9px 12px -5px $DarkGray;
}

.innerContainer {
  display: flex;
  gap: 2rem;
  padding: 5rem;
}

.infoContainer {
  display: flex;
  flex-direction: column;

  h1 {
    color: $DarkGray;
    text-transform: uppercase;
    margin-block: 0;
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
  }

  span {
    font-size: 3rem;
    font-weight: 500;
  }
}

.divider {
  border-left: 1px solid $DarkGray;
  border-right: 1px solid $DarkGray;
  height: 6rem;
  opacity: 0.3;
}

@include mobile {
  .container {
    width: 100%;
  }

  .innerContainer {
    flex-direction: column;
    text-align: center;
    padding: 3rem;
  }
  .divider {
    display: none;
  }

  .infoContainer {
    h1 {
      font-size: 1.2rem;
    }
    span {
      font-size: 2rem;
    }
  }
}
