@import '../../styles/colors';
@import '../../styles/media-queries';

.container {
  width: 100%;
  display: flex;
  justify-content: center;

  input[type='text'] {
    width: 40rem;
    box-sizing: border-box;
    padding: 1.5rem;
    outline: none;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    border-color: transparent;
    font-size: 1.8rem;
  }

  input::placeholder {
    font-size: 1.8rem;
    color: $DarkGray;
  }

  .buttonSubmitContainer {
    width: 7rem;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    background-color: $Black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buttonSubmitContainer:hover {
    opacity: 0.8;
  }
}

@include mobile {
  .container {
    input::placeholder {
      font-size: 1.4rem;
    }
  }
}
